aside{
    float: left;
    width: 300px;
    background-color: white;
    margin-top: 40px;
    padding: 30px;
    box-sizing: border-box;
    border: solid 1px var(--gray-color);
    box-shadow: 2px 2px 5px var(--gray-color);
}

aside h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    background-color: var(--primary-color);
    text-align: center;
    padding: 5px;
    font-family:"Kind Heart.otf" 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: solid 1px var(--secondary-color-dark);
    border-bottom: solid 1px var(--secondary-color-dark);
}