@font-face {
    font-family: "LTSaeada-ExtraLight.otf";
    src: url("../fonts/LTSaeada-ExtraLight.otf");
}

@font-face {
    font-family: "Kind Heart.otf";
    src: url("../fonts/Kind\ Heart.otf");
}