<aside>

    <div class="widget">
        <h3>Iniciar sesion</h3>

        <form>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Entrar">
        </form>
    </div>

    <div class="widget">
        <h3>Ultimas ofertas</h3>

        <ul>
            <li>
                <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate molestias ut repellendus fugit itaque eius amet. Similique dolor facilis ipsam nisi? Atque modi accusantium expedita explicabo beatae at nulla tempora.</a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate molestias ut repellendus fugit itaque eius amet. Similique dolor facilis ipsam nisi? Atque modi accusantium expedita explicabo beatae at nulla tempora.</a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate molestias ut repellendus fugit itaque eius amet. Similique dolor facilis ipsam nisi? Atque modi accusantium expedita explicabo beatae at nulla tempora.</a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate molestias ut repellendus fugit itaque eius amet. Similique dolor facilis ipsam nisi? Atque modi accusantium expedita explicabo beatae at nulla tempora.</a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate molestias ut repellendus fugit itaque eius amet. Similique dolor facilis ipsam nisi? Atque modi accusantium expedita explicabo beatae at nulla tempora.</a>
            </li>
        </ul>
    </div>

    <div class="widget">
        <h3>Frase de el día</h3>
        <blockquote>
            ¡Querer es Poder!
        </blockquote>
    </div>

</aside>