<section id="content">
    <h1>Ultimas Noticias</h1>

    <article>
        <h2>¡El fronted Mola mucho!</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus officiis quos in quam? Repellendus laboriosam blanditiis veritatis ad aut reprehenderit repudiandae eius neque! Ad quis consequuntur cum veniam, voluptas voluptatum!</p>
        <a href="#">Leer mas>></a>
    </article>

    <article>
        <h2>¡Primer Proyecto con Html y css</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus officiis quos in quam? Repellendus laboriosam blanditiis veritatis ad aut reprehenderit repudiandae eius neque! Ad quis consequuntur cum veniam, voluptas voluptatum!</p>
        <a href="#">Leer mas>></a>
    </article>

    <article>
        <h2>¡La programacion engancha!</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus officiis quos in quam? Repellendus laboriosam blanditiis veritatis ad aut reprehenderit repudiandae eius neque! Ad quis consequuntur cum veniam, voluptas voluptatum!</p>
        <a href="#">Leer mas>></a>
    </article>

    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li>...</li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">23</a></li>
    </ul>
</section>